.welcome-message-container {
    position: absolute;
    top: 10%;
    right: 50%;
    /* right: 0; Bắt đầu từ phải của ảnh */
    color: cyan; /* Chuyển sang màu đỏ */
    z-index: 1;
    animation: bounce 5s infinite; /* Sử dụng animation bounce trong 5s lặp lại vô hạn */
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0); /* Vị trí ban đầu */
    }
    50% {
        transform: translateX(-10%); /* Di chuyển sang trái của ảnh */
    }
}
